@import './arco.css';
@import './arco-color.css';
@import './common.css';

html {
  --default-font-size: 16px;
  font-size: var(--the-font-size, var(--default-font-size));
  scrollbar-color: rgb(var(--primary-4)) rgb(var(--primary-1));
  -webkit-tap-highlight-color: transparent;
}

html.default-font-size-large {
  --default-font-size: 20px;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.reach-star {
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primary-4));
  border-radius: 4px;
  --at-apply: shadow;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--primary-1));
  border-radius: 4px;
}

::selection {
  color: rgb(var(--primary-9));
  background-color: rgb(var(--primary-3));
}

html.dark {
  color-scheme: dark;
}

a:focus-visible {
  outline: none;
}
